.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
}

.etab {
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.stagiaire {
  display: flex;
  gap: 20px;
}

.stagiaire img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.stagiaire h1 {
  margin: 0;
  font-size: 15px;
}
.stagiaire h3 {
  font-size: 12px;
  margin: 0;
}

.stagiaire div {
  flex-grow: 1;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap:5px
}

.buttons button {
  flex-grow: 1;
  background-color: blue;
  padding: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.buttons button:hover {
  opacity: 0.65;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
